# =========================
# .NET / Visual Studio
# =========================
.vs/
bin/
obj/
*.suo
*.user
*.cache
*.log
*.bin

# =========================
# Database / Env
# =========================
*.db
*.db-shm
*.db-wal
*.env

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
Thumbs.db
.DS_Store
